.rectangleBtn {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(157 157 157 / 95%);
    transition: 0.4s;
}


.rectangleBtnWide {
    width: 60px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(157 157 157 / 95%);
    transition: 0.4s;
    border-radius: 5px;

    display: flex;
}

.BtnSibling {
    width: 30px;
    height: 30px;

    padding: 0;

    border: none;
}

.cornerLeft{
    border-radius: 5px 0px 0px 5px;
}

.cornerRight{
    border-radius: 0px 5px 5px 0px;
}

.BtnSibling:hover {
    filter: opacity(80%);
    background: rgb(210, 221, 231);

    color: rgb(34 34 34);

}

.BtnSiblingActive {
    width: 50%;
    height: 30px;

    background: rgb(210, 221, 231);
}


.rectangleBtn:hover {
    filter: opacity(80%);
    background: rgb(210, 221, 231);
    color: rgb(34 34 34);
}