.viewWindow {
    height: 100%;
    background: #eff1fa;
    width: 100%;
    min-width: 500px;
}


.card-inline {
    display: flex;
    margin: 15px 20px
}

.subtitle {
    color: rgb(99, 99, 102);
}

.box-section {
    background-color: white;
    border-radius: 25px;
    min-height: 200px;
    margin: 15px 20px;

    padding-top: 5px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 15px 20px;

}

.no-margin {
    margin: 0;
}


/* HISTORY */

.table {
    width: 100%;
    padding: 0 15px 15px;

    font-weight: 300;
}

.row {
    transition: 0.3s;
    background-color: none;

    padding: 0 15px;

}

.row:hover {
    background-color: none;
    border-radius: 15px;

    box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.12),
        0px 2px 2px rgb(0, 0, 0, 0.12),
        0px 4px 4px rgb(0, 0, 0, 0.12),
        0px 8px 8px rgb(0, 0, 0, 0.12),
        0px 16px 16px rgb(0, 0, 0, 0.12);

    color: #1c1c1d;
    /* font-weight: 400 */
}

.table-element {
    min-width: 150px;
    min-height: 50px;
}

.in {
    color: chartreuse !important;
}

.out {
    color: rgb(255, 80, 10) !important;
}