.sidebarStyleOpen {
    width: 180px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    transition: 1s;
}

.sidebarStyleClose {
    width: 60px;
    transition: 1s;
}

.logo {
    background-image: url('../../../public/images/mock logo.png');
    /* background-color: #cccccc; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.logoFull {
    width: 100%;
    height: 100px;
    margin: 15px auto 0 auto;
}

.logoTrim {
    /* width: 100%; */
    height: 100px;
    margin: 5px;

    transition: 1s;

}

.logoHolder {
    border-radius: 50%;
    background-color: white;

}

.optionSelected { 
    border-left-style: solid;
    border-width: 4px;
}

.sidebar-list>div:last-child {
    margin-top: auto;
}

.hamburger {
    cursor: pointer;
    transition: width 1s, height 1s;
    margin: 5px;
    width: 20px;
    height: 20px;
}

.hamburger:hover {
    width: 25px;
    height: 25px;
}

.textDisplay {
    margin: 0 0 0 10px;
    visibility: visible;
    transition: 0.2s;
}

.textCover {
    transition: 0.2s;
    /* visibility: hidden; */
    visibility: collapse;

}