/* Main component operators such as containers that are typical for each view */
.mainView {
    flex: 4;
    margin: 32px;
    height: 100%;
}

.subtleInput {}

/* SIZING */

.w100 {
    width: 100%;
    margin: 10px 0;
}

.w80 {
    width: 80%;
}

.wFT {
    width: fit-content;
}

.minH10vh {
    min-height: 10vh;
}




/* MARGIN */
.mA {
    margin: auto;
}

.m0 {
    margin: 0;
}

.m5 {
    margin: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m50P {
    margin: 50%;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mInline5 {
    margin-inline: 5px;
}

.mInline15 {
    margin-inline: 15px;
}

.mInline20 {
    margin-inline: 20px;
}

.pT5 {
    padding-top: 5px;
}

.pT10 {
    padding-top: 10px;
}

.pT15 {
    padding-top: 15px;
}

.pB5 {
    padding-bottom: 5px;
}

.pB10 {
    padding-bottom: 10px;
}

.pB15 {
    padding-bottom: 15px;
}

.pInline5 {
    padding-inline: 5px;
}

.pInline15 {
    padding-inline: 15px;
}



/* FLEX BOX CLASSESS */
.flex {
    display: flex;
}

.flexOne {
    flex: 1;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexColumnRev {
    display: flex;
    flex-direction: column-reverse;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexRowRev {
    display: flex;
    flex-direction: row-reverse;
}

.flexCenter {
    align-items: center;
}

.flexLeft {
    align-items: flex-start;
}

.flexRight {
    align-items: flex-end;
}

.flexBetween {
    justify-content: space-between;
}

.flexAround {
    justify-content: space-around;
}

.justifyCenter {
    justify-content: center;
}

.justifyStart {
    justify-content: flex-start;

}

.justifyEnd {
    justify-content: flex-end;

}

.justifyEvenly {
    justify-content: space-evenly;
}

.alignContentCenter {
    align-content: center;
}

.alignContentStart {
    align-content: flex-start;
}

.alignContentEnd {
    align-content: flex-end;
}

.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}

.alignEnd {
    align-items: flex-end;
}

.alignStretch {
    align-items: stretch;
}

/* CONTENT */
.w100 {
    width: 100%;
}
.fitW {
    width: fit-content;
}

.maxW {
    width: max-content;
}

.minW {
    width: min-content;
}

.fitH {
    height: fit-content;
}

.maxH {
    height: max-content;
}

.minH {
    height: min-content;
}

.h100 {
    height: 100%;
}

/* Position */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* FONT WEIGHT */

.fw2 {
    font-weight: 200;
}

.fw3 {
    font-weight: 300;
}

.fw4 {
    font-weight: 400;
}

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.fw7 {
    font-weight: 700;
}

/* FONT SIZE */

.fS-14r {
    font-size: 1.4rem;
}

.fS-13r {
    font-size: 1.3rem;
}

.fS-12r {
    font-size: 1.2rem;
}

.fS-11r {
    font-size: 1.1rem;
}

.fS-1r {
    font-size: 1rem;
}

.fs-09r {
    font-size: 0.9rem;
}

.fs-08r {
    font-size: 0.8rem;
}

.fs-07r {
    font-size: 0.7rem;
}

/* FONT STYLES */
.font-h6 {}

.font-subtitle1 {
    margin: 0px 0px 0.35em;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}

.font-subtitle2 {
    margin: 0px 0px 0.35em;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    letter-spacing: 0.00714em;
}

.font-body1 {
    margin: 0px 0px 0.35em;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.font-body2 {
    margin: 0px 0px 0.35em;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.font-button {
    margin: 0px 0px 0.35em;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    display: block;
}

.font-caption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    margin: 0px 0px 0.35em;
    letter-spacing: 0.03333em;
}

.font-outline {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 2.66;
    letter-spacing: 0.08333em;
    text-transform: uppercase;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.03333em;
}

/* DECORATIVE ELEMENTS, MISC */

.line100 {
    width: 100%;
    height: 1px;
    background-color: rgb(214 220 223);
    margin: 5px 0;
}

.line80 {
    width: 80%;
    height: 1px;
    background-color: rgb(214 220 223);
    margin: 5px 0;
}



/* TEXT OPTIONS TYPOGRAPHY*/

.paragraphThin {
    font-weight: 400;
    font-size: 12px;
}

.paragraphMedium {
    font-weight: 600;
    font-size: 20px;

}

.textAC {
    text-align: center;
}

/* SHADOW */

.smooth-shadow {
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.1),
        1px 2px 2px rgb(0, 0, 0, 0.1),
        1px 4px 4px rgb(0, 0, 0, 0.1),
        1px 8px 8px rgb(0, 0, 0, 0.1),
        1px 16px 16px rgb(0, 0, 0, 0.1);
}

.boxShadow {
    box-shadow: 1px 1px 1px #00000036, 0px 0px 1px #0d0d0d31;
}

/* ANIMATION */

.transition1S {
    transition: 10s;
}

/* 
    COLORS  TEXT
        .normal hsl(208deg 85% 65%);
        .success background-color: #0de35c;
        .danger background-color: #e62f2f;
*/

.color-white {
    color: white;
}

.color-grey-primary {
    color: #f7f7f7;
}

.color-grey-secondary {
    color: #dddddd;
}

.color-black {
    color: #2a2828;
}

.color-normal {
    color: #5aabf2;
}

.color-normal-secondary {
    color: rgb(194 222 253);
}

.color-success {
    color: #0de35c;
}

.color-danger {
    color: #e62f2f;
}

/* COLOR BACKGROUND */
.background {
    background: #eff1fa;
}

.background-white {
    background-color: #fff;
}

.background-grey-primary {
    color: #f7f7f7;
}

.background-grey-secondary {
    background-color: #dddddd;
}

.background-normal {
    background-color: #5aabf2;
}

.background-normal-secondary {
    background-color: rgb(194 222 253);
}

.borderNormal {
    border-color: #5aabf2;
}

.borderWhite {
    border-color: #ffffff;
}

.borderSuccess {}

.borderDanger {}



/* COLOR INTERACTION */

.hover-white {}

.hover-white:hover {
    background-color: rgb(217 217 217 / 40%);
}

.hover-white:focus {
    background-color: rgb(217 217 217 / 40%);
}

.hover-grey-primary {}

.hover-grey-primary:hover {
    background-color: #f7f7f7;
}

.hover-grey-primary:focus {
    background-color: #f7f7f7;
}

.hover-normal-secondary {}

.hover-normal-secondary:hover {
    background-color: rgb(194 222 253);
}

.hover-normal-secondary:focus {
    background-color: rgb(194 222 253);
}

/* use for main component bckgs 
for example background
*/
.pure-white {}

.text-black {}

/* greys for borders */
.border-grey-secondary {
    border-color: #d3d3d3
}