/* Main component operators such as containers that are typical for each view */
.mainView {
    flex: 4;
    margin: 32px;
}

.subtleInput {}

.w100 {
    width: 100%;
}

.minH10vh {
    min-height: 10vh;
}


/* MARGIN */
.m5 {
    margin: 5px;
}

.mt5 {
    margin-top: 5px 0 0 0;
}

.mb5 {
    margin-bottom: 0 0 5px 0;
}

.m15 {
    margin: 15px;
}

.mt15 {
    margin-top: 15px 0 0 0;
}

.mb15 {
    margin-bottom: 0 0 15px 0;
}

.mInline5 {
    margin-inline: 5px;
}

.mInline15 {
    margin-inline: 15px;
}



/* FLEX BOX CLASSESS */
.flex {
    display: flex;
}

.flexOne {
    flex: 1;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCenter {
    align-items: center;
}

.flexLeft {
    align-items: flex-start;
}

.flexRight {
    align-items: flex-start;
}

.flexBetween {
    justify-content: space-between;
}

.flexAround {
    justify-content: space-around;
}

.justifyCenter {
    justify-content: center;
}

.alignContentCenter {
    align-content: center;
}

.alignContentStart {
    align-content: flex-start;
}

.alignContentEnd {
    align-content: flex-end;
}

.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}

.alignEnd {
    align-items: flex-end;
}

/* CONTENT */

.fitW {
    width: fit-content;
}

.maxW {
    width: max-content;
}

.minW {
    width: min-content;
}

.fitH {
    height: fit-content;
}

.maxH {
    height: max-content;
}

.minH {
    height: min-content;
}

/* Position */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/* DECORATIVE ELEMENTS, MISC */

.line100 {
    width: 100%;
    height: 1px;
    background-color: rgba(233, 239, 241, 0.534);
    margin: 5px 0;
}

.line80 {
    width: 80%;
    height: 1px;
    background-color: rgba(233, 239, 241, 0.534);
    margin: 5px 0;
}


/* TEXT OPTIONS TYPOGRAPHY*/

.paragraphThin {
    font-weight: 400;
    font-size: 12px;
}

.paragraphMedium {
    font-weight: 600;
    font-size: 20px;

}

/* SHADOW */

.smooth-shadow {
    box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.1),
        1px 2px 2px rgb(0, 0, 0, 0.1),
        1px 4px 4px rgb(0, 0, 0, 0.1),
        1px 8px 8px rgb(0, 0, 0, 0.1),
        1px 16px 16px rgb(0, 0, 0, 0.1);
}

.boxShadow {
    box-shadow: 1px 1px 1px #00000036, 0px 0px 1px #0d0d0d31;
}

/* ANIMATION */

.transition1S {
    transition: 10s;
}

/* colors */

/* use for main component bckgs 
for example background
*/
.pure-white {}

.text-black {}

/* greys for borders */
.border-grey-secondary {
    border-color: #d3d3d3
}