/* @font-face {
  font-family: 'poppins';
  src: local('MyFont'), url(https://fonts.google.com/specimenTab?standard-styles) format('sans-serif');
} */

* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;

}

#root {
  height: 100vh;
  overflow: hidden;

}