.tab-ele {
    min-width: 60px;
    max-width: 120px;
    height: 30px;

    text-align: center;

    cursor: pointer;

    transition: 0.8s;

    font-weight: 500;
    border-bottom: 2px solid rgba(59, 134, 204, 0);;

    margin-left: 15px;
}

.active {
    color: rgb(59, 134, 204);
    border-bottom: 3px solid rgb(59, 134, 204);
}


.hoverable:hover {
    filter: opacity(80%);
    background: rgb(210, 221, 231);
    color: rgb(25, 52, 75);
    border-bottom: 3px solid rgb(59, 134, 204);

}