.viewProducts {
    display: flex;
    flex-wrap: wrap;

    transition: 1s;
    /* height: 100%; */
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;

    transition: 1s;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
    height: 78vh;
} 