.dropdown {
    min-width: 200px;
    background-color: #fff;
    margin-inline: 15px;
    border-radius: 15px;
    padding: 15px 5px;
    z-index: 99;

}

.dropdown-container {
    margin: 5px;
    font-weight: 500;
    /* transition: 0.5s; */
}

.dropdown-content {
    padding: 5px;
    cursor: pointer;
    z-index: 100;
}

.dropdown-content:hover {
    background-color: rgba(233, 239, 241, 0.534);
}

.dropdown-block {
    display: block;
}

.dropdown-none {
    display: hidden;
}

.content-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;

    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:cover
}

.cartTitle {
    font-size: 1.2rem;
    font-weight: 600;
}
.cartPrice {
    font-size: 0.8rem;
    font-weight: 400;

}