
.sidebarBody {
    position: relative;
    width: fit-content;
    transition: 0.2s; 
    overflow: hidden; 
    height: 100%; 
}

.sideScreenShow {
    width: fit-content;
}

.sideScreenHide {
    width: 0%;
}

.cardBox {
    background-color: rgb(224, 135, 135);
    border-radius: 15px;
    /* padding: 15px; */
    width: 90%;
    height: 200px;
    margin: 10px auto;

    transition: 0.5;
}

.topSection {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    width: 100%;
    align-items: center;
}

.closeSidebar {
    position: static;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    cursor: pointer;
    transition: .4s;
}

.hideClose {
    display: none;
}

.showTitle {
    height: 2vh;
    margin-bottom: 5px;
}

.showDetails {
    min-height: 20vh;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

/* Revisiting styles of the sidebar */
.product-head {
    text-align: initial;
}

.product-head h4 {
    margin: 5px 0;
}

.product-head p {
    font-weight: 500;
    font-size: 0.8rem;
}

.product-stack {
    text-align: initial;
}

.stack-heading {
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    
}

.stack-thin {
    text-align: initial;
    color: #4099e6;
    font-weight: 500;
    font-size: 0.7rem;
    margin: 0 0 5px 0;
}

.subtleInput {
    border-radius: 5px;
    border: 1px solid #92a0ba;
    padding: 5px;
    /* margin-inline: 5px; */
    margin: 5px;
    width: -webkit-fill-available;

}

.subtleInput textarea {
    resize: none;
}

.productPriceInput {
    width: 100%;
    display: flex;
    justify-content: center;
}
.placeSymbol {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 7px 10px 5px 10px;
}